<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="alert alert-primary" role="alert">
      {{action}} Project
    </div>
    <div class="float-right">
      <button routerLink="/project/list" class="btn btn-info">Back to Project List</button>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <div [hidden]="submitted">
        <div class="form-group">
          <div class="form-row col-md-12">
            <div class="col col-md-4">
              <label for="type">Project Type</label>
              <select id="type" class="form-control">
                <option>Please select</option>
                <option *ngFor="let type of projectTypes" [value]="type.id">{{type.type}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-8">
            <div class="col">
              <label for="beginDate">Begin Date</label>
              <div class='input-group date' id='beginDate'>
                <input name="beginDate" [(ngModel)]="project.beginDate" type='date' class="form-control" />
              </div>
            </div>
            <div class="col">
              <label for="endDate">End Date</label>
              <div class='input-group date' id='endDate'>
                <input name="endDate" [(ngModel)]="project.endDate" type='date' class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-8">
            <div class="col">
              <label for="givenName">Customer First Name</label>
              <input name="givenName" [(ngModel)]="project.customer.givenName" type="text" class="form-control" id="givenName" placeholder="">
            </div>
            <div class="col">
              <label for="familyName">Customer Last Name</label>
              <input name="familyName" [(ngModel)]="project.customer.familyName" type="text" class="form-control" id="familyName" placeholder="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-8">
            <div class="col">
              <label for="streetAddr1">Street Address 1</label>
              <input name="streetAddr1" [(ngModel)]="project.customer.address.streetAddr1" type="text" class="form-control" id="streetAddr1" placeholder="">
            </div>
            <div class="col">
              <label for="streetAddr2">Apt No.</label>
              <input name="streetAddr2" [(ngModel)]="project.customer.address.streetAddr2" type="text" class="form-control" id="streetAddr2" placeholder="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-8">
            <div class="col">
              <label for="city">City</label>
              <input name="city" [(ngModel)]="project.customer.address.city" type="text" class="form-control" id="city" placeholder="">
            </div>
            <div class="col">
              <label for="state">State</label>
              <input name="state" [(ngModel)]="project.customer.address.state" type="text" class="form-control" id="state" placeholder="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-8">
            <div class="col">
              <label for="zipcode">Zip Code</label>
              <input name="zipcode" [(ngModel)]="project.customer.address.zipcode" type="number" class="form-control" id="zipcode" placeholder="">
            </div>
            <div class="col">
              <label for="email">Email Address</label>
              <input name="email" [(ngModel)]="project.customer.email" type="email" class="form-control" id="email" placeholder="xxx@email.com">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-8">
            <div class="col">
              <label for="homePhone">Home Phone</label>
              <input name="homePhone" [(ngModel)]="project.customer.homePhone" type="tel" class="form-control" id="homePhone" placeholder="">
            </div>
            <div class="col">
              <label for="cellPhone">Cell Phone</label>
              <input name="cellPhone" [(ngModel)]="project.customer.cellPhone" type="tel" class="form-control" id="cellPhone" placeholder="">
            </div>
          </div>
        </div>
    </div>
  </form>
</div>

