<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">{{action}} Room</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col col-lg-8">
              <div>
                <div class="form-group col-md-12">
                  <label>Room Type</label>
                  <select [(ngModel)]="room.type" id="type" name="type" class="form-control" [disabled]="disabled">
                    <option [value]="">Choose...</option>
                    <option [value]="'K'">Kitchen</option>
                    <option [value]="'B'">Bedroom</option>
                    <option [value]="'L'">Living Room</option>
                    <option [value]="'D'">Dinning Room</option>
                  </select>
                </div>
                <div class="form-row col-md-12">
                  <div class="col">
                    <label for="length">Length</label>
                    <input [(ngModel)]="room.length" name="length" type="number" class="form-control" id="length" [disabled]="disabled">
                  </div>
                  <div class="col">
                    <label for="height">Height</label>
                    <input [(ngModel)]="room.height" name="height" type="number" class="form-control" id="height" [disabled]="disabled">
                  </div>
                  <div class="col">
                    <label for="width">Width</label>
                    <input [(ngModel)]="room.width" name="width" type="number" class="form-control" id="width" [disabled]="disabled">
                  </div>
                </div>
                <br />
                <div class="form-row col-md-12">
                  <div class="col">
                    <label for="length">Number of Closets</label>
                    <input [(ngModel)]="room.closetCount" name="closetCount" type="number" class="form-control" id="closetNum" [disabled]="disabled">
                  </div>
                  <div class="col">
                    <label for="height">Number of Doors</label>
                    <input [(ngModel)]="room.doorCount" name="doorCount" type="number" class="form-control" id="doorNum" [disabled]="disabled">
                  </div>
                  <div class="col">
                    <label for="width">Number of Mantles</label>
                    <input [(ngModel)]="room.mantleCount" name="mantleCount" type="number" class="form-control" id="mantleNum" [disabled]="disabled">
                  </div>
                  <div class="col">
                    <label for="width">Number of Columns</label>
                    <input [(ngModel)]="room.columnCount" name="columnCount" type="number" class="form-control" id="columnNum" [disabled]="disabled">
                  </div>
                </div>
                <br />
                <div class="form-group col-md-8">
                  <div class="form-check form-check-inline">
                    <label>Trim With Crown</label>
                  </div>
                  <label class="radio-inline">
                    <input [(ngModel)]="room.trimWithCrown" type="radio" name="trimWithCrown" value="true" [disabled]="disabled"/>
                    Yes
                  </label>
                  <label class="radio-inline">
                    <input [(ngModel)]="room.trimWithCrown" type="radio" name="trimWithCrown" value="false" [disabled]="disabled"/>
                    No
                  </label>
                </div>
                <div [hidden]="disabled" class="btn-group">
                  <button type="button" (click)="calculate()" class="btn btn-success">Calculate</button>
                </div>
              </div>
            </div>
            <div [hidden]="!showCalculation && !disabled" class="col col-lg-4">
              <div class="form-group">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Material Expense
                    <span class="badge badge-pill">{{room.expense.materialExpense}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Labor Expense
                    <span class="badge badge-pill">{{room.expense.laborExpense}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Expense
                    <span class="badge badge-primary badge-pill">{{room.expense.totalExpense}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button [hidden]="!showCalculation || disabled" type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
    </div>
  </form>
</div>
