<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <form (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger" *ngIf="submitted && !authenticated">
        <strong>Username and Password does not match.</strong>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" required />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" required />
      </div>
      <hr width=100% align=left>
      <div class="form-group">
        <button [disabled]="username == null || password == null" class="form-control btn btn-primary">Login</button>
      </div>
    </div>
  </form>
</div>
