<div class="container text-center col-8" *ngIf="project">
  <h4>Status: {{project.status}}</h4>
  <table class="table">
    <tbody>
    <tr>
      <th class="table-primary">Project Type</th>
      <td>Painting</td>
    </tr>
    <tr>
      <th class="table-primary">Customer Name</th>
      <td>{{project.customer.givenName}} {{project.customer.middleName}} {{project.customer.familyName}}</td>
    </tr>
    <tr>
      <th class="table-primary">Address</th>
      <td>{{project.customer.address.streetAddr1}}
          {{project.customer.address.streetAddr2}}
          {{project.customer.address.city}}
          {{project.customer.address.state}}
          {{project.customer.address.zipcode}}
      </td>
    </tr>
    <tr>
      <th class="table-primary">Phone Number</th>
      <td>{{project.customer.cellPhone}}</td>
    </tr>
    <tr>
      <th class="table-primary">Email Address</th>
      <td>{{project.customer.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="project">
  <div class="float-right">
    <button routerLink="/project/list" class="btn btn-info">Back to Project</button>
    <button class="btn btn-success" (click)="open('Add')">Add Room</button>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Room Type</th>
        <th scope="col">Size</th>
        <th scope="col">Total Cost</th>
        <th scope="col" width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of project.roomList">
        <th scope="row">{{room.id}}</th>
        <td>{{room.type}}</td>
        <td>{{room.length * room.width}}</td>
        <td>$8,700</td>
        <td>
          <button type="button" (click)="open('View', room)" class="btn btn-info btn-sm">View</button>
          <button type="button" (click)="open('Edit', room)" class="btn btn-primary btn-sm">Edit</button>
          <button routerLink="/paint/room/create" class="btn btn-danger btn-sm" href="#">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
