<div class="container text-center col-8" *ngIf="project">
  <h4>Status: {{project.status}}</h4>
  <table class="table table-primary">
    <tbody>
    <tr>
      <th>Project Type</th>
      <td>Painting</td>
    </tr>
    <tr>
      <th>Customer Name</th>
      <td>{{project.customer.givenName}} {{project.customer.middleName}} {{project.customer.familyName}}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{project.customer.address.streetAddr1}}
          {{project.customer.address.streetAddr2}}
          {{project.customer.address.city}}
          {{project.customer.address.state}}
          {{project.customer.address.zipcode}}
      </td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td>{{project.customer.cellPhone}}</td>
    </tr>
    <tr>
      <th>Email Address</th>
      <td>{{project.customer.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="float-right">
    <button routerLink="/project/list" class="btn btn-info">Back to Project</button>
    <button class="btn btn-success" (click)="open()">Add Room</button>
  </div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Type</th>
      <th scope="col">Size</th>
      <th scope="col">Total Cost</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Living Room</td>
      <td>18 * 18</td>
      <td>$8,700</td>
      <td>
        <a (click)="open()" class="btn btn-primary btn-sm" routerLink="#">Edit</a>
        <a routerLink="/paint/room/create" class="btn btn-danger btn-sm" href="#">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bed Room 1</td>
      <td>12 * 12</td>
      <td>$3,600</td>
      <td>
        <a (click)="open()" class="btn btn-primary btn-sm" routerLink="#">Edit</a>
        <a routerLink="/paint/room/create" class="btn btn-danger btn-sm" href="#">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bed Room 2</td>
      <td>14 * 14</td>
      <td>$5,560</td>
      <td>
        <a (click)="open()" class="btn btn-primary btn-sm" routerLink="#">Edit</a>
        <a routerLink="/paint/room/create" class="btn btn-danger btn-sm" href="#">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
