<div class="text-center">
  <h4>Painting Material Setup</h4>
</div>
<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input type="number" class="form-control" id="name" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label>Code</label>
        <input type="number" class="form-control" id="length" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Quality</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Average</option>
          <option>Good</option>
          <option>Best</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>Original Price</label>
        <input type="number" class="form-control" id="length" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label>Quote Price</label>
        <input type="number" class="form-control" id="length" placeholder="">
      </div>
      <div class="btn-group col-md-6">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>

